<% content_for :body_content_left do %>
  <div class='inquiries'>
    <%= form_for [refinery, :inquiries, @inquiry] do |f| %>
      <%= render :partial => "/refinery/admin/error_messages",
                 :locals => {
                   :object => @inquiry,
                   :include_object_name => true
                 } %>
      <div class="field">
        <%= f.required_label :name, :class => 'placeholder-fallback' %>
        <%= f.text_field :name, :class => 'text', :required => 'required', :placeholder => t('name', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="field">
        <%= f.required_label :email, :class => 'placeholder-fallback' %>
        <%= f.email_field :email, :class => 'text email', :required => 'required', :placeholder => t('email', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="field">
        <%= f.label :phone, :class => 'placeholder-fallback' %>
        <%= f.text_field :phone, :class => 'text phone', :placeholder => t('phone', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class='field message_field'>
        <%= f.required_label :message, :class => 'placeholder-fallback' %>
        <%= f.text_area :message, :rows => 8, :required => 'required', :placeholder => t('message', :scope => 'activerecord.attributes.refinery/inquiries/inquiry') %>
      </div>
      <div class="actions">
        <%= f.submit t('.send') %>
        <%= link_to t('.privacy_policy'), "/pages/privacy-policy", :id => "privacy_link" if Refinery::Inquiries.show_contact_privacy_link %>
      </div>
    <% end %>
  </div>
<% end %>
<%= render :partial => "/refinery/content_page" %>
<h2 style="margin-top:20px;margin-bottom:20px;"><img src="/system/images/W1siZiIsIjIwMTMvMDYvMDQvMDRfMjdfMTBfMTQxX2J1bGxldF9wb2ludC5wbmciXV0/bullet-point.png" title="Bullet Point" alt="Bullet Point" rel="225x255" width="27" height="27" />Fill Out One of Our Applications!</h2>
<p>We provide services to both employers and potential Hemp Temps. If you already have your MMED badge and would like to work as a bud tender, trimmer, grower, or front desk customer service representative, please fill out the HempTemps application by clicking on the button below. If you are an employer that is looking for temporary or full-time Hemp Temps in the medical or recreational marijuana industry, please fill out the Partners application by clicking on the button below. If you would like to speak with a representative of our team, please contact us.</p>
