<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
	<% unless params[:controller] == "refinery/news/items" and params[:action] == "show" %>
		<style type="text/css">
			#body_content_title {
				display: none;
			}
		</style>
	<% end %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
		<header id="header">
			<%= render '/refinery/header' -%>
		</header>
    <div id="page_container">
      <section id="page">
        <%= yield %>
				<%= render "shared/animated_form_links" %>
      </section>
    </div>
		<footer>
			<%= render '/refinery/footer' -%>
		</footer>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
